*{
   background-color: aqua;
}
.container{
    padding-left:400px;
}
p label {
    text-align: center; /* Align labels to the right */
     /* Set a fixed width for the labels to create space on the right */
}
h1{
    margin-left: 100px;

}
#height{
 



}
#weight{
  
}
button{

  
   margin-left: 90px;
   border-radius: 20px;
   border-color: black;
}
#results{
    margin-left: 90px;

}